In [19]:
import pandas as pd
import sqlite3
import csv
import os

In [39]:
## turn on data base
con = sqlite3.connect("DataBase/BinanceExchangeData3.db")
cur = con.cursor()

In [40]:
# Create Spot Table
cur.execute("CREATE TABLE Spot_1m(open_time, open, high, low, close, volume, close_time, quote_volume, count, taker_buy_volume, taker_buy_quote_volume,ignore)")

In [45]:
# # DropTable

# cur.execute("DROP TABLE Spot_1m")

In [15]:
file = 'Data/BTCUSDT/1m/'
files_to_inject = os.listdir(data_directory)

In [16]:
for i in files_to_inject:
    file_directory = file + i
    df = pd.read_csv(file_directory, header=None)

    df.columns = [
        'open_time', 'open', 'high', 'low', 'close', 'volume', 'close_time',
        'quote_volume', 'count', 'taker_buy_volume', 'taker_buy_quote_volume',
        'ignore'
    ]
    df.to_csv(file_directory, index = False)

In [17]:
## refresh files
files_to_inject = os.listdir(data_directory)

In [41]:
for i in files_to_inject:

    with open(data_directory + i,
              'r') as fin:  # `with` statement available in 2.5+
        # csv.DictReader uses first line in file for column headings by default
        dr = csv.DictReader(fin)  # comma is default delimiter
        to_db = [(i['open_time'], i['open'], i['high'], i['low'], i['close'], i['volume'],
                  i['close_time'], i['quote_volume'], i['count'], i['taker_buy_volume'], i['taker_buy_quote_volume'], i['ignore'])
                 for i in dr]

    cur.executemany(
        "INSERT INTO Spot_1m (open_time, open, high, low, close, volume, close_time, quote_volume, count, taker_buy_volume, taker_buy_quote_volume,ignore) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);",
        to_db)
    con.commit()

In [44]:
res = cur.execute("SELECT * FROM Spot_1m limit 10")
res.fetchall()

[('open_time',
  'open',
  'high',
  'low',
  'close',
  'volume',
  'close_time',
  'quote_volume',
  'count',
  'taker_buy_volume',
  'taker_buy_quote_volume',
  'ignore'),
 ('1514764800000',
  '13715.65',
  '13715.65',
  '13681.0',
  '13707.92',
  '2.844266',
  '1514764859999',
  '38931.00441306',
  '32',
  '2.002554',
  '27414.3541153',
  '0'),
 ('1514764860000',
  '13707.91',
  '13707.91',
  '13666.11',
  '13694.92',
  '2.113138',
  '1514764919999',
  '28910.98250103',
  '29',
  '0.264134',
  '3613.8841797',
  '0'),
 ('1514764920000',
  '13682.0',
  '13694.94',
  '13680.0',
  '13680.0',
  '1.346411',
  '1514764979999',
  '18431.84269039',
  '46',
  '0.753332',
  '10313.33178487',
  '0'),
 ('1514764980000',
  '13679.98',
  '13679.98',
  '13601.0',
  '13645.99',
  '11.589417',
  '1514765039999',
  '157962.17750801',
  '137',
  '5.507146',
  '75118.44543695',
  '0'),
 ('1514765040000',
  '13645.98',
  '13646.0',
  '13576.28',
  '13600.0',
  '15.724566',
  '1514765099999',
  '213978.12070266',
  '191',
  '9.739792',
  '132561.88152514',
  '0'),
 ('1514765100000',
  '13600.0',
  '13600.0',
  '13554.44',
  '13568.0',
  '6.395223',
  '1514765159999',
  '86790.92092172',
  '129',
  '4.525578',
  '61427.63687404',
  '0'),
 ('1514765160000',
  '13568.0',
  '13569.99',
  '13520.0',
  '13533.68',
  '6.348072',
  '1514765219999',
  '86029.64378778',
  '138',
  '3.221744',
  '43694.19260218',
  '0'),
 ('1514765220000',
  '13554.0',
  '13554.0',
  '13501.01',
  '13530.0',
  '7.057208',
  '1514765279999',
  '95436.04483888',
  '123',
  '3.321991',
  '44949.85321224',
  '0'),
 ('1514765280000',
  '13514.53',
  '13575.0',
  '13504.99',
  '13575.0',
  '16.240707',
  '1514765339999',
  '219884.99290622',
  '157',
  '7.699183',
  '104259.88627167',
  '0')]

In [ ]:
con.close()