In [58]:
import sqlite3
con = sqlite3.connect("tutorial.db")

In [75]:
tupple = [(5), (5), (5)]
tupple_2 = [(5,), (5), (5)]

In [76]:
print(tupple)
print(tupple_2)

[5, 5, 5]
[(5,), 5, 5]

In [59]:
# con.close()
cur = con.cursor()

In [25]:
cur.execute("CREATE TABLE movie(title, year, score)")

OperationalError: table movie already exists

In [27]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movie',)

In [28]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

In [35]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

In [30]:
con.commit()

In [68]:
# res = cur.execute("SELECT title FROM movie")
# res.fetchall()

res = cur.execute("SELECT score FROM movie")
res.fetchall()

[(8.2,),
 (7.5,),
 (7.9,),
 (7.5,),
 (8.0,),
 (8.2,),
 (7.5,),
 (7.9,),
 (7.5,),
 (8.0,)]

In [32]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.

In [42]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1971, 'And Now for Something Completely Different')
(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')
(1975, 'Monty Python and the Holy Grail')
(1975, 'Monty Python and the Holy Grail')
(1979, "Monty Python's Life of Brian")
(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")
(1983, "Monty Python's The Meaning of Life")

In [43]:
res = cur.execute("SELECT year, title FROM movie ORDER BY year")
res.fetchall()

[(1971, 'And Now for Something Completely Different'),
 (1971, 'And Now for Something Completely Different'),
 (1971, 'And Now for Something Completely Different'),
 (1975, 'Monty Python and the Holy Grail'),
 (1975, 'Monty Python and the Holy Grail'),
 (1975, 'Monty Python and the Holy Grail'),
 (1979, "Monty Python's Life of Brian"),
 (1979, "Monty Python's Life of Brian"),
 (1982, 'Monty Python Live at the Hollywood Bowl'),
 (1982, 'Monty Python Live at the Hollywood Bowl'),
 (1983, "Monty Python's The Meaning of Life"),
 (1983, "Monty Python's The Meaning of Life")]

In [47]:
con.close()

In [48]:
new_con = sqlite3.connect("tutorial.db")
new_cur = new_con.cursor()
res = new_cur.execute("SELECT title, year FROM movie ORDER BY score DESC")
title, year = res.fetchone()

In [49]:
print(title, year)

Monty Python and the Holy Grail 1975

In [51]:
res.fetchall()

[("Monty Python's Life of Brian", 1979),
 ("Monty Python's Life of Brian", 1979),
 ('Monty Python Live at the Hollywood Bowl', 1982),
 ('Monty Python Live at the Hollywood Bowl', 1982),
 ('And Now for Something Completely Different', 1971),
 ("Monty Python's The Meaning of Life", 1983),
 ('And Now for Something Completely Different', 1971),
 ("Monty Python's The Meaning of Life", 1983)]

In [54]:
res = new_cur.execute("SELECT title, year FROM movie")
res.fetchall()

[('Monty Python and the Holy Grail', 1975),
 ('And Now for Something Completely Different', 1971),
 ('Monty Python Live at the Hollywood Bowl', 1982),
 ("Monty Python's The Meaning of Life", 1983),
 ("Monty Python's Life of Brian", 1979),
 ('Monty Python and the Holy Grail', 1975),
 ('And Now for Something Completely Different', 1971),
 ('Monty Python Live at the Hollywood Bowl', 1982),
 ("Monty Python's The Meaning of Life", 1983),
 ("Monty Python's Life of Brian", 1979)]

In [78]:
import GET
GET /api/v3/ping

ModuleNotFoundError: No module named 'GET'